<div class="container">
  <h1>Search object</h1>

  <a href="#/searches" class="btn btn-default">Back</a>

  <div>
    <p><strong>Id:</strong>{{search.id}}</p>
    <p><strong>Twitter hashtags:</strong> {{search.twitterHashtags}}</p>
    <p><strong>Guardian tags:</strong> {{search.guardianTags}}</p>

    <hr />

    <p>Tweets count: {{search.tweetsCount}}</p>

    <p>Twitter fetch status: {{search.twitterSearchStatus}}</p>

    <hr/>

    <p>Guardian Articles count: {{search.guardianArticlesCount}}</p>

    <p>Guardian Articles fetch status: {{search.guardianSearchStatus}}</p>

  </div>
</div>
